body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #202020;
    background-color: white;
    color: white;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    width: 600px;
    border-radius: 10px;
    background-color: #202020;
    box-shadow: 0px 0px 300px 200px skyblue;
    padding: 8px;
}

#cal-heading h2 {
    color: whitesmoke !important;
    font-size: 30px;
}

input {
    font-size: 50px;
    width: 100%;
    background-color: #202020;
    outline: none;
    border-width: 0px;
    text-align: right;
    color: rgb(221, 217, 217);
    caret-color: transparent;
}

input:focus {
    outline: none !important;
}

.row {
    padding-bottom: 2px !important;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 80px;
    border-radius: 4px;
    border-width: 0px;
    margin: 2px;
    color: whitesmoke;
    font-size: 20px;
}

#btn-col {
    height: 50px;
    width: 137px;
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
}

.operator {
    background-color: #323232;
    color: #FFE680;
}

.number {
    background-color: #3B3B3B;
}

.number:hover {
    background-color: #323232;
}

.operator:hover {
    background-color: #3B3B3B;
}

#equal {
    background-color: #FFE680;
    color: black;
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    body
    {
        background-color: #202020;
    }
    #calculator {
        height: 90%;
        width: 100%;
        border-radius: 0;
        justify-content: space-between;
        box-shadow: none;
        
    }

    button {
        height: 65px;
        font-size: 25px;
    }

    #btn-col {
        height: 65px;
        font-size: 25px;
        display: flex;
        width: 90px !important;
    }
}